.search-holder {
	width: 100%;
	justify-content: center;
	padding: auto;
	margin-top: 40px;

	.search-field {
		font-size: 14px;
		width: 100%;
		display: block;
	
		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}


	.holder-holder {
		margin: auto;
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	.clickable {
		cursor: pointer;
		text-decoration: underline;

	}

	.expand-more {
		font-size: 15px;
		position: relative;
		top: 3px;
	}

	.column {
		width: 40%;
	}
	
	.left {
		margin-right: 10px;
		cursor: pointer;
	}
	
	.right {
		margin-left: auto;
		align-self: center;
	}
	
	.left-side {
		display: inline;
	}
	
	.right-side {
		width: 10%;
		display: flex;
		justify-content: flex-end;
	}
	
	.keywords {
		font-size: 30px;
		margin-bottom: 30px;
	}

	.search-holder {
		background-color: #FFEEAA;
	}
}

.mat-menu-panel.ng-trigger {
	max-width: unset;
}


