.search-holder {
	width: 100%;
	display: flex;
	align-items: center;

	.search-field {
		font-size: 20px;
		width: 100%;
		display: block;
	
		.mat-form-field-wrapper {
			padding-bottom: 0;
		}
	}

	.clickable {
		cursor: pointer;
		text-decoration: underline;

	}

	.expand-more {
		font-size: 15px;
		position: relative;
		top: 3px;
	}

	.column {
		width: 40%;
	}
	
	.left {
		margin-right: 10px;
		cursor: pointer;
	}
	
	.right {
		margin-left: auto;
		align-self: center;
	}
	
	.left-side {
		display: inline;
	}
	
	.right-side {
		width: 10%;
		display: flex;
		justify-content: flex-end;
	}
	
	.keywords {
		font-size: 30px;
		font-weight: bold;
		margin-right: 20px;
	}
}

.mat-menu-panel.ng-trigger {
	max-width: unset;
}


